openapi: 3.0.4
info:
  title: Lorem Ipsum Generator
  description: >-
    Lorem Ipsum Generator is a simple tool for generating lorem ipsum text. It
    returns the generated text.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/loremipsumgenerator:
    get:
      summary: Generate Lorem Ipsum
      description: Generate lorem ipsum text with a specified number of sentences or words
      operationId: loremipsumgenerator
      parameters:
        - name: paragraphs
          in: query
          schema:
            type: integer
          required: false
          description: The number of paragraphs to generate
          example: 3
        - name: startwithlorem
          in: query
          schema:
            type: boolean
          required: false
          description: Start the text with 'Lorem ipsum dolor sit amet'
          example: true
        - name: maxlength
          in: query
          schema:
            type: integer
          required: false
          description: The maximum length of the generated text (0 for no limit)
          example: 100
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  words: 73
                  sentences: 7
                  text: >-
                    Lorem ipsum dolor sit amet aliquip duis veniam dolore ea eu
                    ex ad occaecat in sunt amet sit non esse. Proident fugiat eu
                    nisi et duis excepteur. Aute ipsum pariatur labore do
                    pariatur exercitation excepteur qui exercitation aliquip ut
                    mollit. Reprehenderit ipsum velit eiusmod duis nulla. Id eu
                    aute mollit cillum dolore adipisicing non occaecat. Laboris
                    commodo magna occaecat officia amet sunt aliqua et enim enim
                    incididunt in. Magna laborum irure nulla ea.
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
